
body {
    color: rgb(13, 14, 13);
    background:rgb(235, 234, 236);
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(212, 42, 228);
}
.chamada {
    background: aqua;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}