
body {
    color: rgb(13, 14, 13);
    background:rgb(235, 234, 236);
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(212, 42, 228);
}
.chamada {
    background: rgb(196, 238, 238);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada {
background: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center; 

}
.chamada-texto {
margin-right: 5%;
 }

h1{font-size: 40px;
 }
p{ font-size: 20;}

body {
color: rgb(209, 136, 197);
background: rgb(165, 233, 250);
margin: 0px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
border-bottom: solid 2px rgb(235, 162, 245);
padding: 20px;
font-size: 32px;
color: rgb(42, 122, 228);
}
.chamada {
background: rgb(184, 156, 213);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1{font-size: 40px;

}
p{ font-size: 20px;
_
}
img {
height: 200px;

}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;

}
.categoria {
padding-left: 20px;
padding-right: 20px;
}
.categoria-videos img {
opacity: 0.5;
height: 200px;
margin-top: 50px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 3px solid rgb(124, 236, 124);
}

.categoria h2 {
color: rgb(42, 122, 228);
}