
body {
    color: rgb(205, 226, 19);
    background:rgb(235, 234, 236);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(212, 42, 228);
}
<section{
    background-color: aqua;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: ;
}